# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules
/.pnp
.pnp.js

# testing

coverage
coverage.json
typechain

# next.js

/packages/token-gating-dapp/node_modules
packages/token-gating-dapp/.next/
/out/

# vite

/packages/token-gating-dapp/node_modules
/packages/token-gating-dapp/dist

# production

/build

# misc

.DS_Store
\*.pem

# debug

npm-debug.log*
yarn-debug.log*
yarn-error.log\*

# local env files

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel

.vercel
